/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/_data/colors.js
 */

$color-blue-100: hsl(205, 75%, 11%) !default;
$color-on-blue-100: hsl(203.79999999999995, 23.6%, 51.8%) !default;
$color-blue-90: hsl(208, 81%, 22%) !default;
$color-on-blue-90: hsl(0, 0%, 100%) !default;
$color-blue-80: hsl(210, 79%, 35%) !default;
$color-on-blue-80: hsl(210, 66.7%, 82.4%) !default;
$color-blue-70: hsl(205, 71%, 43%) !default;
$color-on-blue-70: hsl(210, 100%, 99.6%) !default;
$color-blue-60: hsl(208, 50%, 57%) !default;
$color-on-blue-60: hsl(208.29999999999995, 63.9%, 16.3%) !default;
$color-blue-50: hsl(208, 51%, 68%) !default;
$color-on-blue-50: hsl(208.79999999999995, 36.9%, 25.5%) !default;
$color-blue-40: hsl(211, 49%, 79%) !default;
$color-on-blue-40: hsl(210, 23.5%, 33.3%) !default;
$color-blue-30: hsl(209, 53%, 84%) !default;
$color-on-blue-30: hsl(210, 21.3%, 36.9%) !default;
$color-blue-20: hsl(210, 50%, 90%) !default;
$color-on-blue-20: hsl(209, 15%, 40.6%) !default;
$color-blue-10: hsl(217, 52%, 95%) !default;
$color-on-blue-10: hsl(219, 8.8%, 44.3%) !default;
$color-blue-4: hsl(204, 45%, 98%) !default;
$color-on-blue-4: hsl(210, 3.4%, 45.5%) !default;
$color-grey-100: hsl(229, 31%, 14%) !default;
$color-on-grey-100: hsl(228.5, 11.3%, 54.9%) !default;
$color-grey-90: hsl(229, 20%, 22%) !default;
$color-on-grey-90: hsl(227.39999999999998, 9.8%, 62.2%) !default;
$color-grey-80: hsl(229, 14%, 31%) !default;
$color-on-grey-80: hsl(226.20000000000005, 9.5%, 73.1%) !default;
$color-grey-70: hsl(229, 11%, 40%) !default;
$color-on-grey-70: hsl(225, 11.4%, 86.3%) !default;
$color-grey-60: hsl(229, 9%, 49%) !default;
$color-on-grey-60: hsl(0, 0%, 100%) !default;
$color-grey-50: hsl(229, 10%, 58%) !default;
$color-on-grey-50: hsl(229.10000000000002, 12.9%, 16.7%) !default;
$color-grey-40: hsl(229, 13%, 67%) !default;
$color-on-grey-40: hsl(226.20000000000005, 10.4%, 24.5%) !default;
$color-grey-30: hsl(230, 21%, 76%) !default;
$color-on-grey-30: hsl(232.89999999999998, 10.6%, 31.6%) !default;
$color-grey-20: hsl(229, 28%, 85%) !default;
$color-on-grey-20: hsl(228.60000000000002, 10.9%, 37.8%) !default;
$color-grey-10: hsl(228, 41%, 93%) !default;
$color-on-grey-10: hsl(228, 9%, 43.5%) !default;
$color-grey-4: hsl(230, 43%, 97%) !default;
$color-on-grey-4: hsl(235, 5.1%, 45.9%) !default;
$color-red-100: hsl(229, 9%, 49%) !default;
$color-on-red-100: hsl(0, 0%, 100%) !default;
$color-sun: hsl(49, 94%, 58%) !default;
$color-on-sun: hsl(47.89999999999998, 100%, 22.4%) !default;
$color-mint: hsl(179, 74%, 39%) !default;
/* 🚫 Contrast fails against mint */
$color-on-mint: hsl(348, 99%, 45%) !default;
$color-peach: hsl(179, 74%, 39%) !default;
$color-on-peach: hsl(310.20000000000005, 74.5%, 21.6%) !default;
$color-cream: hsl(36, 100%, 97%) !default;
$color-on-cream: hsl(36, 11.2%, 43.7%) !default;

$base-color-tokens: ("blue-100", "blue-90", "blue-80", "blue-70", "blue-60", "blue-50", "blue-40", "blue-30", "blue-20", "blue-10", "blue-4", "grey-100", "grey-90", "grey-80", "grey-70", "grey-60", "grey-50", "grey-40", "grey-30", "grey-20", "grey-10", "grey-4", "red-100", "sun", "mint", "peach", "cream");

$color-tokens: (
  "color-blue-100": $color-blue-100,
  "color-on-blue-100": $color-on-blue-100,
  "color-blue-90": $color-blue-90,
  "color-on-blue-90": $color-on-blue-90,
  "color-blue-80": $color-blue-80,
  "color-on-blue-80": $color-on-blue-80,
  "color-blue-70": $color-blue-70,
  "color-on-blue-70": $color-on-blue-70,
  "color-blue-60": $color-blue-60,
  "color-on-blue-60": $color-on-blue-60,
  "color-blue-50": $color-blue-50,
  "color-on-blue-50": $color-on-blue-50,
  "color-blue-40": $color-blue-40,
  "color-on-blue-40": $color-on-blue-40,
  "color-blue-30": $color-blue-30,
  "color-on-blue-30": $color-on-blue-30,
  "color-blue-20": $color-blue-20,
  "color-on-blue-20": $color-on-blue-20,
  "color-blue-10": $color-blue-10,
  "color-on-blue-10": $color-on-blue-10,
  "color-blue-4": $color-blue-4,
  "color-on-blue-4": $color-on-blue-4,
  "color-grey-100": $color-grey-100,
  "color-on-grey-100": $color-on-grey-100,
  "color-grey-90": $color-grey-90,
  "color-on-grey-90": $color-on-grey-90,
  "color-grey-80": $color-grey-80,
  "color-on-grey-80": $color-on-grey-80,
  "color-grey-70": $color-grey-70,
  "color-on-grey-70": $color-on-grey-70,
  "color-grey-60": $color-grey-60,
  "color-on-grey-60": $color-on-grey-60,
  "color-grey-50": $color-grey-50,
  "color-on-grey-50": $color-on-grey-50,
  "color-grey-40": $color-grey-40,
  "color-on-grey-40": $color-on-grey-40,
  "color-grey-30": $color-grey-30,
  "color-on-grey-30": $color-on-grey-30,
  "color-grey-20": $color-grey-20,
  "color-on-grey-20": $color-on-grey-20,
  "color-grey-10": $color-grey-10,
  "color-on-grey-10": $color-on-grey-10,
  "color-grey-4": $color-grey-4,
  "color-on-grey-4": $color-on-grey-4,
  "color-red-100": $color-red-100,
  "color-on-red-100": $color-on-red-100,
  "color-sun": $color-sun,
  "color-on-sun": $color-on-sun,
  "color-mint": $color-mint,
  /* 🚫 Contrast fails against mint */
"color-on-mint": $color-on-mint,
  "color-peach": $color-peach,
  "color-on-peach": $color-on-peach,
  "color-cream": $color-cream,
  "color-on-cream": $color-on-cream
) !default;

@mixin color-tokens() {
  --color-blue-100: #{$color-blue-100};
  --color-on-blue-100: #{$color-on-blue-100};
  --color-blue-90: #{$color-blue-90};
  --color-on-blue-90: #{$color-on-blue-90};
  --color-blue-80: #{$color-blue-80};
  --color-on-blue-80: #{$color-on-blue-80};
  --color-blue-70: #{$color-blue-70};
  --color-on-blue-70: #{$color-on-blue-70};
  --color-blue-60: #{$color-blue-60};
  --color-on-blue-60: #{$color-on-blue-60};
  --color-blue-50: #{$color-blue-50};
  --color-on-blue-50: #{$color-on-blue-50};
  --color-blue-40: #{$color-blue-40};
  --color-on-blue-40: #{$color-on-blue-40};
  --color-blue-30: #{$color-blue-30};
  --color-on-blue-30: #{$color-on-blue-30};
  --color-blue-20: #{$color-blue-20};
  --color-on-blue-20: #{$color-on-blue-20};
  --color-blue-10: #{$color-blue-10};
  --color-on-blue-10: #{$color-on-blue-10};
  --color-blue-4: #{$color-blue-4};
  --color-on-blue-4: #{$color-on-blue-4};
  --color-grey-100: #{$color-grey-100};
  --color-on-grey-100: #{$color-on-grey-100};
  --color-grey-90: #{$color-grey-90};
  --color-on-grey-90: #{$color-on-grey-90};
  --color-grey-80: #{$color-grey-80};
  --color-on-grey-80: #{$color-on-grey-80};
  --color-grey-70: #{$color-grey-70};
  --color-on-grey-70: #{$color-on-grey-70};
  --color-grey-60: #{$color-grey-60};
  --color-on-grey-60: #{$color-on-grey-60};
  --color-grey-50: #{$color-grey-50};
  --color-on-grey-50: #{$color-on-grey-50};
  --color-grey-40: #{$color-grey-40};
  --color-on-grey-40: #{$color-on-grey-40};
  --color-grey-30: #{$color-grey-30};
  --color-on-grey-30: #{$color-on-grey-30};
  --color-grey-20: #{$color-grey-20};
  --color-on-grey-20: #{$color-on-grey-20};
  --color-grey-10: #{$color-grey-10};
  --color-on-grey-10: #{$color-on-grey-10};
  --color-grey-4: #{$color-grey-4};
  --color-on-grey-4: #{$color-on-grey-4};
  --color-red-100: #{$color-red-100};
  --color-on-red-100: #{$color-on-red-100};
  --color-sun: #{$color-sun};
  --color-on-sun: #{$color-on-sun};
  --color-mint: #{$color-mint};
  /* 🚫 Contrast fails against mint */
--color-on-mint: #{$color-on-mint};
  --color-peach: #{$color-peach};
  --color-on-peach: #{$color-on-peach};
  --color-cream: #{$color-cream};
  --color-on-cream: #{$color-on-cream};
}