/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/_data/colors.js
 */

$color-primary: hsl(210, 79%, 35%) !default;
$color-on-primary: hsl(0, 0%, 100%) !default;
$color-error: hsl(348, 99%, 45%) !default;
$color-on-error: hsl(348, 100%, 98%) !default;
$color-text: hsl(229, 31%, 14%) !default;
$color-on-text: hsl(228.5, 11.3%, 54.9%) !default;

$base-color-tokens: ("primary", "error", "text");

$color-tokens: (
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-error": $color-error,
  "color-on-error": $color-on-error,
  "color-text": $color-text,
  "color-on-text": $color-on-text
) !default;

@mixin color-tokens() {
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-error: #{$color-error};
  --color-on-error: #{$color-on-error};
  --color-text: #{$color-text};
  --color-on-text: #{$color-on-text};
}