.swatch {
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 0 0.3rem #d6d6d6;
}
.swatch,
.swatch figcaption {
  display: grid;
  place-content: center;
  padding: 0.7rem;
  text-align: center;
}
.swatch strong,
.swatch figcaption strong {
  font-size: 1rem;
}
