---
layout: base.njk
title: Colors
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Colors</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/docs.css">
</head>
<body>
  <main class="container">
    <h2 class="mt4 mb2">
    Cobot blue
    </h2>
    <ul role="list" class="layout-flex">
      <li>
        <figure class="swatch">
          <figcaption class="background-blue-100">
            <strong>blue-100</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-blue-90">
            <strong>blue-90</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-blue-80">
            <strong>blue-80</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-blue-70">
            <strong>blue-70</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-blue-60">
            <strong>blue-60</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-blue-50">
            <strong>blue-50</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-blue-40">
            <strong>blue-40</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-blue-30">
            <strong>blue-30</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-blue-20">
            <strong>blue-20</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-blue-10">
            <strong>blue-10</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-blue-4">
            <strong>blue-4</strong>
          </figcaption>
        </figure>
      </li>
    </ul>
    <h2 class="mt4 mb2">
    Grey
    </h2>
    <ul role="list" class="layout-flex">
      <li>
        <figure class="swatch">
          <figcaption class="background-grey-100">
            <strong>grey-100</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-grey-90">
            <strong>grey-90</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-grey-80">
            <strong>grey-80</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-grey-70">
            <strong>grey-70</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-grey-60">
            <strong>grey-60</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-grey-50">
            <strong>grey-50</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-grey-40">
            <strong>grey-40</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-grey-30">
            <strong>grey-30</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-grey-20">
            <strong>grey-20</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-grey-10">
            <strong>grey-10</strong>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="swatch">
          <figcaption class="background-grey-4">
            <strong>grey-4</strong>
          </figcaption>
        </figure>
      </li>
    </ul>
    <h2 class="mt4 mb2">
    Other colors
    </h2>
      <ul role="list" class="layout-flex">
        <li>
          <figure class="swatch">
            <figcaption class="background-sun">
              <strong>sun</strong>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="swatch">
            <figcaption class="background-mint">
              <strong>mint</strong>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="swatch">
            <figcaption class="background-cream">
              <strong>cream</strong>
            </figcaption>
          </figure>
        </li>
      </ul>
  </main>
</body>
</html>

